@model Assignment_3_Pruthvirajsinh.Models.Class

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }

    #containershow {
        max-width: 400px;
        margin: auto;
        text-align: center;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
    }

    h2 {
        color: #4CAF50;
        margin-bottom: 10px;
    }

    p {
        font-size: 18px;
        color: #333;
        margin-bottom: 10px;
    }

    span {
        display: block;
        font-weight: bold;
        color: #555;
        margin-bottom: 5px;
    }

    a {
        text-decoration: none;
        color: #007BFF;
        font-weight: bold;
        display: block;
        margin-top: 10px;
    }
</style>

<div id="containershow">
    <h2>@Model.classname</h2>
    <p>Class Code: @Model.classcode</p>
    <p>
        @if (Model.teacherid != 0)
        {
            <span>Teacher ID: @Model.teacherid</span>
            <a href="/Teacher/Show/@Model.teacherid">View Teacher Details</a>
        }
        else
        {
            <span>No Teacher Assigned</span>
        }
    </p>
</div>
